@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resource.LockedOutTitle;
}

<hgroup>
    <h1 class="text-danger">@Resource.LockedOutMessageHeader</h1>
    <h2 class="text-danger">@Resource.LockedOutMessage</h2>
</hgroup>
